## What is a Program?

A **program** is a set of instructions that a computer follows to perform a specific task.

</br>


A **calculator app** is a program that follows instructions to:

- Add
- Subtract
- Multiply
- Divide

---

##  What is a Programming Language?

A **programming language** is a special language used to write those instructions in a way that the computer can understand.

</br>
 Examples of Programming Languages:

- Python  
- Java  
- C++  
- JavaScript  

</br>


 **"Program = Instructions"** and **"Programming Language = How we write those instructions"**

## What is Python?

- Created by Guido van Rossum in 1991
- High-level, interpreted programming language
- Easy to learn and use
- Popular for web development, data science, automation, AI, etc.

#### Python is interpreted programming language

In [1]:
# interpreted programming language
print("line 1")
print("line 2")
print(a)
print("last line")

line 1
line 2

NameError: name 'a' is not defined

### Python is simpe and easy to use
#### Code to Display "Hello, World!" in Python

```python
print(""Hello, World!"")
```
</br>

#### Code to Display "Hello, World!" in C
```c
#include <stdio.h>

int main() {
    printf("Hello, World!\n");
    return 0;
}
```
</br>

---

#### Code to Display "Hello, World!" in cpp

```c++
#include <iostream>

int main() {
    cout << "Hello, World!" << endl;
    return 0;
}

```
</br>

---

#### Code to Display "Hello, World!" in cpp

```java
public class HelloWorld {
    public static void main(String[] args) {
        System.out.println("Hello, World!");
    }
}


```

## Why Learn Python?

- **Simple and Readable Syntax**  
  Python's clean syntax makes it easy to learn and write, even for beginners.

- **Versatile and General-Purpose**  
  Use Python for web development, data science, AI, automation, and more.

- **Large Community Support**  
  Extensive resources, tutorials, forums, and third-party libraries are available.

- **Cross-Platform Compatibility**  
  Run Python on Windows, macOS, Linux, and even mobile devices.

## Python Applications

- **Web Development**  
- **Data Science and Analysis**  
- **Machine Learning and AI**  
- **Game Development**  
- **Mobile App**
- **GUI**
- **Robotics**
- **Testing**
- **Automation**
- **Hacking**

## Popular Python IDEs

- IDLE
- PyCharm  
- Visual Studio Code (VS Code)
- Jupyter Notebook  
- Thonny

 ## Common Python File Extensions

 - **file_name.py**- Standard Python script file. Contains Python source code.
 - **file_name.ipynb**- Jupyter Notebook file. Contains code, markdown, and outputs in an interactive format.

##  How to Install Anaconda

###  Step 1: Download Anaconda Installer
- Visit the official website: [https://www.anaconda.com/products/distribution](https://www.anaconda.com/products/distribution)
- Choose the installer for your operating system:
  - Windows (64-bit)
  - macOS
  - Linux

###  Step 2: Run the Installer
- **Windows**:
  - Double-click the `.exe` file
  - Follow the setup wizard
  - Choose "Add Anaconda to my PATH environment variable" (optional but useful)
- **macOS/Linux**:
  - Open Terminal
  - Navigate to the `.sh` file and run:
    ```bash
    bash Anaconda3-xxxx.sh
    ```
  - Follow the on-screen prompts

###  Step 3: Verify Installation
- Open **Anaconda Navigator** or Terminal
- Type the following command:
  ```bash
  conda --version

## Writing Your First Python Program


Example:

```python

print("Hello, World!")

```

In [2]:
print("Hello, World!")

Hello, World!

---

# Jupyter NoteBook

## What is Jupyter  Notebook
* The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that           integrate live code, equations, computational output, visualizations, and other multimedia resources,

* Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine         learning, and much more.

## Why Jupyter Notebook?

- Interactive
- Results/outputs are stored so it is easy to review
- Friendly for documentation
- No limitation from performance 
- helpful shortcuts
- Industry standard for all data science, ML, AI projects.

<p> Extension of jupyter file is ipynb (i python notebook, previous name of Jupyter) </p>

---

# print()

#### 1. Printing Text

In [3]:
print("Hello, world!")

Hello, world!

#### 2. Printing Multiple Items

In [4]:
print("My name is", "Rohit")

My name is Rohit

#### 3. Printing Numbers

In [5]:
print(12+5)

17

#### 4. Using sep to Customize Separator

In [6]:
# sep - it is used to speccify the seperator in single print statement b/w the values
print("Python", "Java", "C++", sep=", ")
print("Python", "Java", "C++", sep=": ")

Python, Java, C++
Python: Java: C++

#### 5.Using end to Customize Line Ending

In [7]:
print("My Name is", end=" ")
print("Amit")

My Name is Amit

In [8]:
print("line 1", end=": ")
print("line 2",end=" :")
print("line 3")

line 1: line 2 :line 3

#### 6.Use Variables in print()

In [9]:
name = "Sahana"
age = 21
print("Name:", name)
print("Age:", age)

Name: Sahana
Age: 21

#### 7.Formatted Output

In [10]:
# Using f-strings 

name = "Ashwin"
age = 30
print(f"My name is {name} and I am {age} years old.")

My name is Ashwin and I am 30 years old.

In [11]:
# Using .format()
name = "Ashwin"
age = 30
print("My name is {} and I am {} years old.".format(name, age))

My name is Ashwin and I am 30 years old.

In [12]:
print("My name is Ashwin,\nMy age is - 30,\nWe are learning python" )

My name is Ashwin,
My age is - 30,
We are learning python

In [13]:
print("My name is Ashwin,\tMy age is 30,\tWe are learning python" )

My name is Ashwin,	My age is 30,	We are learning python

🧪 **Activities** </br>
🟡 Activity 1: Print a Simple Bio </br>
🟡 Activity 2:Printing a Table (e.g., Multiplication Table of 2---2x1=2,2x2=4...)</br>
</br>

---

## input()

The input() function in Python is used to take input from the user. It always returns a string, so if you need a number, you must convert it using int() or float().

**Basic Syntax**

```python
variable = input("Prompt message")
```

#### 1.Simple user input

In [15]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name:

Hello,

#### 2.Input numbers and add

In [38]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
# Convert to int
sum = int(num1) + int(num2)
print("The sum is:", sum)

Enter first number:  12
Enter second number:  13

The sum is: 25

🧪 **Activities** </br>
🟡 Activity 1: Write a program that asks the user to enter:<br>
- Name
- Age
- Favorite color
Then print the information back.


 </br>
🟡 Activity 2: Write a program to Calculate the Average Marks of 3 tests using input()
</br>

---

## Variables in Python




## What is a Variable?
- A **variable** is a name that refers to a value stored in memory.
- Used to **store data** which can be used and modified later.

### Example:
```python
x = 10
name = "Alice"
```

## Keywords

In Python, a keyword is a reserved word that has a special meaning in the language. These words are part of the syntax and cannot be used as identifiers (such as variable names, function names, or class names).

| Keyword       | Description                                           |
|---------------|-------------------------------------------------------|
| `False`       | Boolean false value                                   |
| `None`        | Represents the absence of a value                     |
| `True`        | Boolean true value                                    |
| `and`         | Logical AND                                           |
| `as`          | Used to create an alias                               |
| `assert`      | For debugging; raises an error if condition is false  |
| `async`       | Declares an asynchronous function                     |
| `await`       | Awaits the result of an async function                |
| `break`       | Exits the nearest enclosing loop                      |
| `class`       | Declares a class                                      |
| `continue`    | Skips the current iteration in a loop                 |
| `def`         | Declares a function                                   |
| `del`         | Deletes a reference to an object                      |
| `elif`        | Else-if condition                                     |
| `else`        | Else condition                                        |
| `except`      | Catches exceptions in try block                       |
| `finally`     | Block that always executes after try...except        |
| `for`         | For loop                                              |
| `from`        | Used with `import` to specify module content          |
| `global`      | Declares a global variable                            |
| `if`          | Conditional statement                                 |
| `import`      | Imports a module                                      |
| `in`          | Checks membership                                     |
| `is`          | Tests identity (same memory location)                 |
| `lambda`      | Creates an anonymous function                         |
| `nonlocal`    | Declares a non-local variable                         |
| `not`         | Logical NOT                                           |
| `or`          | Logical OR                                            |
| `pass`        | Null operation (placeholder)                          |
| `raise`       | Raises an exception                                   |
| `return`      | Exits a function and optionally returns a value       |
| `try`         | Try block for exception handling                      |
| `while`       | While loop

## Python Identifiers and Naming Rules

## What is an Identifier?
An **identifier** is the name used to identify a variable, function, class, module, or object.

</br>

## Identifier Naming Rules

| Rule No. | Rule Description                                        | Example (Valid)     | Example (Invalid)      | Reason for Invalidity              |
|----------|---------------------------------------------------------|----------------------|--------------------------|-------------------------------------|
| 1        | Must begin with a letter (A–Z or a–z) or underscore (_) | `name`, `_value`     | `1name`                 | Cannot start with a digit           |
| 2        | Can contain letters, digits (0–9), and underscores (_)  | `user1`, `data_set`  | `user-name`             | Hyphens are not allowed             |
| 3        | Cannot start with a digit                               | `value1`             | `5data`                 | Starts with a number                |
| 4        | Cannot be a Python keyword                              | `total`, `sum_`      | `class`, `def`          | Reserved words in Python            |
| 5        | Case-sensitive                                           | `age`, `Age`, `AGE`  | —                        | All are treated as different names  |
| 6        | No special characters other than `_`                    | `user_id`            | `user$id`, `data@2023`  | Special characters not allowed      |

---

In [16]:
var = 21 #var is entity called as variable has been created and assigned with value of 2
print(var)

21

In [17]:
$var=3

SyntaxError: invalid syntax (1821083626.py, line 1)

In [18]:
first_name="Rohit"
print(first_name)

Rohit

In [19]:
1num=12

SyntaxError: invalid decimal literal (1924174262.py, line 1)

In [20]:
num1=12

In [21]:
first$name="Rohit"

SyntaxError: invalid syntax (1676478301.py, line 1)

### Variable Assignment

In [70]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

### Multiple Assignment

In [71]:
intvar , floatvar , strvar = 10,2.57,"Python Language" 
# Using commas to separate variables
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [72]:
a=b=c=100
print("a :",a)
print("b :",b)
print("c :",c)

a : 100
b : 100
c : 100

---

# Python Comments
In Python, comments are lines in the code that are not executed. They are used to explain what the code is doing, making it easier to understand.

In [73]:
# This is a single-line comment
print("Hello, world!")  # This prints a message

Hello, world!

In [74]:
# This is a multi-line comment
# written across several lines
# to explain a block of code
print("Learning Python comments")

Learning Python comments

---

# Python Basic Data Types

| Data Type     | Example              | Description                                           |
|---------------|----------------------|-------------------------------------------------------|
| `int`         | `5`, `-3`, `100`     | Integer numbers without decimals                      |
| `float`       | `3.14`, `-0.001`     | Floating-point numbers (decimal numbers)              |
| `str`         | `"hello"`, `'123'`   | String of characters enclosed in quotes               |
| `bool`        | `True`, `False`      | Boolean values for logic operations                   |

### `type()` Function in Python



- The `type()` function is used to **check the data type** of a variable or value.



#### Syntax

```python
type(object)

In [77]:
num=100
print(type(num))

<class 'int'>

In [78]:
name="lohit"
print(type(name))

<class 'str'>

---

# Python Operators

### 1.Arithematic Operators



| Operator | Name              | Description                            | Example        | Result       |
|----------|-------------------|----------------------------------------|----------------|--------------|
| `+`      | Addition          | Adds two numbers                        | `5 + 3`        | `8`          |
| `-`      | Subtraction       | Subtracts second number from first      | `10 - 4`       | `6`          |
| `*`      | Multiplication    | Multiplies two numbers                  | `6 * 7`        | `42`         |
| `/`      | Division          | Divides first number by second (float) | `15 / 2`       | `7.5`        |
| `//`     | Floor Division    | Division that returns integer result    | `15 // 2`      | `7`          |
| `%`      | Modulus           | Returns remainder of division           | `10 % 3`       | `1`          |
| `**`     | Exponentiation    | Raises first number to the power of second | `2 ** 3`    | `8`          |

---

**Note**
- Division (`/`) always returns a `float`, even if the result is a whole number.
- Floor division (`//`) truncates the decimal part.
- Exponentiation (`**`) is used for powers like squares and cubes.

In [9]:
a=5
b=2
print(f"The Addition of {a} and {b} :",a+b)
print(f"The Subtraction of {a} and {b} :",a-b)
print(f"The Multiplication of {a} and {b} :",a*b)
print(f"The division of {a} and {b} :",a/b)
print(f"The modolus of {a} and {b} :",a%b)
print(f"The floor of {a} and {b} :",a//b)
print(f"The  {a} power of {b} :",a**b)

The Addition of 5 and 2 : 7
The Subtraction of 5 and 2 : 3
The Multiplication of 5 and 2 : 10
The division of 5 and 2 : 2.5
The modolus of 5 and 2 : 1
The floor of 5 and 2 : 2
The  5 power of 2 : 25

### 2. Comparison Operators

In [10]:
x  = 20
y  = 30

print('Is  x  greater  than  y  :-  ',x>y) 
print('Is  x  less  than    y  :-  ',x<y) 
print('Is  x  equal  to    y  :-  ',x==y)
print('Is  x  not  equal  to  y  :-  ',x!=y)
print('Is  x  greater  than  or  equal  to  y  :-  ',x>=y)
print('Is  x  less  than  or  equal  to  y  :-  ',x<=y)

Is  x  greater  than  y  :-   False
Is  x  less  than    y  :-   True
Is  x  equal  to    y  :-   False
Is  x  not  equal  to  y  :-   True
Is  x  greater  than  or  equal  to  y  :-   False
Is  x  less  than  or  equal  to  y  :-   True

### 3.Logical Operators

In [7]:
x = True
y = False

print('Logical  AND  operation  :-  ',x  and  y)  #  True  if  both  values  are  true
print('Logical  OR  operation  :-  ',x  or  y)  #  True  if  either  of  the  values  is  true
print('NOT  operation  :-  ',not  y  )  #  True  if  operand  is  false

Logical  AND  operation  :-   False
Logical  OR  operation  :-   True
NOT  operation  :-   True

### 4. Membership Operator

In [22]:
str_var="Mumbai"
print("a" in str_var)

True

In [23]:
str_var="Mumbai"
print("a" not in str_var)

False

In [24]:
str_var="Mumbai"
print("z" in str_var)

False

In [25]:
str_var="Mumbai"
print("ma" in str_var)

False

In [26]:
str_var="Mumbai"
print("mb" in str_var)

True

---

### 5. Assignment Operators

| Operator | Example   | Equivalent To   | Description                          |
|----------|-----------|-----------------|--------------------------------------|
| `+=`     | `x += 5`  | `x = x + 5`     | Adds and assigns                     |
| `-=`     | `x -= 3`  | `x = x - 3`     | Subtracts and assigns                |
| `*=`     | `x *= 2`  | `x = x * 2`     | Multiplies and assigns               |
| `/=`     | `x /= 4`  | `x = x / 4`     | Divides and assigns (float division)|
| `//=`    | `x //= 2` | `x = x // 2`    | Floor-divides and assigns            |
| `%=`     | `x %= 3`  | `x = x % 3`     | Modulus and assigns                  |
| `**=`    | `x **= 2` | `x = x ** 2`    | Exponentiates and assigns            |
| `&=`     | `x &= 1`  | `x = x & 1`     | Bitwise AND and assigns              |
| `|=`     | `x |= 1`  | `x = x | 1`     | Bitwise OR and assigns               |
| `^=`     | `x ^= 1`  | `x = x ^ 1`     | Bitwise XOR and assigns              |
| `>>=`    | `x >>= 1` | `x = x >> 1`    | Right shift and assigns              |
| `<<=`    | `x <<= 1` | `x = x << 1`    | Left shift and assigns               |

In [27]:
# Initial assignment
x = 10
print("Initial value:", x)

# Compound assignment operators
x += 5
print("After x += 5 :", x)

x -= 3
print("After x -= 3 :", x)

x *= 2
print("After x *= 2 :", x)

x /= 4
print("After x /= 4 :", x)

x //= 2
print("After x //= 2:", x)

x %= 3
print("After x %= 3 :", x)

Initial value: 10
After x += 5 : 15
After x -= 3 : 12
After x *= 2 : 24
After x /= 4 : 6.0
After x //= 2: 3.0
After x %= 3 : 0.0

### 6. Bitwise Operator

In Python, bitwise operators are used to performing bitwise calculations on integers. The integers are first converted into binary and then operations are performed on each bit or corresponding pair of bits, hence the name bitwise operators. The result is then returned in decimal format.

Example:
```
a = 10 (decimal 10 is equalent to 1010 (Binary))  
b = 4   (decimal 4 is equalent to 0100 (Binary)

a & b = 1010 
         &
        0100
      = 0000(as per Truth table of and operation)
      = 0 (Decimal)
```

In [28]:

a = 10 # (decimal 10 is equalent to 1010 (Binary))  
b = 14   # (decimal 4 is equalent to 0100 (Binary)


print("convert integer of variable a to binary",bin(a)) # bin() converts int to binay
print("convert integer of variable b to binary",bin(b))
result_and=a & b # it performs binary and operation
print("a & b :",result_and)

result_or=a|b
print("a|b :",result_or)

result_not=~a
print("~a :",result_not)

shift_right=a>>2 # shift the bits right side twise
print("a>>2 :",shift_right)

shift_left=a<<3 # shift the bits left side twise
print("a<<3 :",shift_left)

convert integer of variable a to binary 0b1010
convert integer of variable b to binary 0b1110
a & b : 10
a|b : 14
~a : -11
a>>2 : 2
a<<3 : 80

### 7.Identity Operator

Identity operators are used to compare the memory location of two objects — i.e., whether two variables refer to the same object in memory.

Python provides two identity operators:

| Operator | Syntax       | Description                                             | Example           | Result        |
|----------|--------------|---------------------------------------------------------|-------------------|---------------|
| `is`     | `x is y`     | Returns `True` if `x` and `y` refer to the same object  | `a is b`          | `True`        |
| `is not` | `x is not y` | Returns `True` if `x` and `y` do **not** refer to the same object | `a is not c`      | `True`        |

In [29]:
a = [1, 2, 3]
b = a        # b refers to the same object as a
c = [1, 2, 3]  # c is a separate object with the same content

print(a is b)       # True (same object)
print(a is c)       # False (different objects, same content)
print(a == c)       # True (values are equal)
print(a is not c)   # True (not the same object)
print("id(a) :",id(a))
print("id(b) :",id(b))
print("id(c) :",id(c))

True
False
True
True
id(a) : 1919004812160
id(b) : 1919004812160
id(c) : 1919004809728

---